.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  border-bottom: solid 1px #999;
}

.mainNav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mainNav a h1 {
  color: #00DC55;
  font-size: 2.4rem;
  margin: auto;
}

.mainNav__list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  width: 35%;
}

.mainNav__list__icons {
  padding: 1rem;
}

.mainNav__list__icons a {
  color: #000;
}

.mainNav__list__icons a i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.mainNav__list__item {
  margin-left: 1rem;
  font-size: 1.6rem;
  margin-left: 3rem;
  padding: 2.8rem 2rem;
}

.mainNav__list__item:hover {
  color: #00DC55;
  border-bottom: 0.5rem solid #00DC55;
}

.mainNav__list__item:hover > a {
  color: #00DC55;
  transition: 0.5s ease-in-out;
}

.mainNav__list__item:hover .hiddenMenu {
  visibility: visible;
  transition: 0.7s ease-in-out;
  opacity: 1;
  color: #666;
}

.mainNav__list__item a {
  text-decoration: none;
  color: #000;
}

.mainNav__list__item a:hover {
  color: #00DC55;
  transition: 0.5s ease-in;
}

.topNav {
  background-color: #E7E7E7;
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: flex-end;
  overflow: hidden;
  font-family: "halvetica";
}

.topNav__help {
  list-style: none;
  background-color: black;
  padding: 0.5rem 1.5rem;
  justify-self: center;
  position: absolute;
  left: 47%;
}

.topNav__help a {
  color: #f3f3f3;
  text-decoration: none;
}

.topNav__help a:hover {
  text-decoration: underline;
}

.topNav__menu {
  display: flex;
  justify-self: end;
  margin-right: 3rem;
}

.topNav__menu li {
  margin-left: 0.5rem;
  list-style: none;
}

.topNav__menu li:hover {
  text-decoration: underline;
}

.topNav__menu li::before {
  content: '/  ';
}

.topNav__menu li.firstTopnav::before {
  content: '';
}

.topNav__menu li.firstTopnav:hover {
  text-decoration: none;
}

.topNav__menu li a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
}

.hiddenMenu {
  width: 100%;
  visibility: hidden;
  position: absolute;
  top: 9.3rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f3f3;
  opacity: 0;
}

.hiddenMenu__list {
  border-right: 1px solid #a5a2a2;
  padding: 1rem 5rem;
  line-height: 2;
  width: 32%;
  margin-bottom: 2.5rem;
}

.hiddenMenu__list:last-child {
  border: none;
}

.hiddenMenu__list h2 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.hiddenMenu__list__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.hiddenMenu__list__items p {
  margin-left: 1rem;
  width: 35%;
  font-size: 1.2rem;
}

.hiddenMenusearch {
  width: 98%;
  /* visibility: hidden; */
  position: absolute;
  top: 9.3rem;
  left: 1rem;
  right: 2rem;
  margin: auto;
  display: flex;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: center;
  height: 7rem;
  border-radius: 0.5rem;
  /* opacity: 0; */
}

.hiddenMenusearch input {
  height: 2rem;
  display: flex;
  width: 28%;
  border: none;
  background-color: #f3f3f3;
  margin: 0 1rem;
  font-size: 1.2rem;
  outline: none;
}

.hiddenMenusearch input:focus {
  border-bottom: 1px solid black;
}

.hiddenMenusearch input::-moz-placeholder {
  font-size: 1.2rem;
}

.hiddenMenusearch input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.hiddenMenusearch input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.hiddenMenusearch input::placeholder {
  font-size: 1.2rem;
}

.hiddenMenusearch a {
  color: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

/*# sourceMappingURL=app.css.map*/