.bodyInformation {
    font-size: 1rem;
    margin-left: 2rem;

    @media all and (max-width: 800px) { 
        margin-top: 120px;
    }
   
    p {
        margin-right: 2rem;
        text-align: center;

        @media all and (max-width: 736px) { 
            font-size: 0.9rem;
            width: 75%;
            margin: auto;
            
        }

        @media all and (max-width: 480px) { 
            font-size: 0.8rem;
            width: 60%;
            margin: auto;
            text-align: center;
        }
    }

    &__global {
        color: $primary_color;
        font-size: x-large;
        font-weight: bold;
        
        @media all and (max-width: 480px) { 
            text-align: center;
        }
    }

    &__underline {
        text-decoration: underline $primary_color;
    }
}

.topRoutes {
    text-decoration: none;
    color: black;
}

.topRoute__container {
    margin: 2rem 0 0 0;
}