.footer {

    &__container {
        width: 100%;
        height: 20rem;
        background-color: #222;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.2rem;
        overflow: hidden;
        
        @media all and (max-width: 800px) { 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        h2 {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }

        &__links{
            display: flex;
            flex-direction: column;
            flex: 2;
            margin-left: 5rem;
            height: 100%;

            @media all and (max-width: 1000px){
                margin-left: 1rem;
            }
            
            .fa-8x{
                color: $primary-color;
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                height: 70%;

                input{
                    width: 10rem;
                    height: 2rem;
                    line-height: 1.5;
                    margin-top: 0.5rem;
                    
                }

                .footer-checkboxes{
                    display: flex;
                    flex-direction: column;
                    
                    input{
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
            }

            a{
                text-decoration: none !important;
                color: #fff;
                line-height: 1.5;
                // font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                
                &:hover{
                    color: #f3f3f3;
                }
            }

            p {
                font-size: 0.8rem;
                width: 12rem;

                @media all and (max-width: 900px) { 
                    font-size: 0.5rem;
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}