@import "Variables.scss";
@import "BodyButton.scss";
@import "MainNav.scss";
@import "BodyInformation.scss";
@import "BodyShoe.scss";
@import "SearchBar.scss";
@import "Footer.scss";
@import "CopyrightFooter.scss";
@import "SingleShoePage.scss";
@import "pagination.scss";
@import "AccountLogin.scss";
@import "AccountRegisterRelay.scss";
@import "AccountRegister.scss";
@import "MainDisplay.scss";
@import "UserWelcomeBackScreen.scss";
@import "HiddenBasketAddDisplay.scss";
@import "AccountNotLoggedIn.scss";
@import "Basket.scss";
@import "warning.scss";
@import "HamburgerMenu.scss";
@import "EmailSuccess.scss";
@import "CssTransitionsSearchBar";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    max-width: 90rem;
    margin: auto;
    display: flex;
    align-items: center;
    
    
    #app{
        margin: auto;
    }
}





