@import "Variables.scss";
@import "Auth/AccountNotLoggedIn.scss";
@import "Auth/AccountLogin.scss";
@import "Auth/AccountRegisterRelay.scss";
@import "Auth/AccountRegister.scss";
@import "Auth/UserWelcomeBackScreen.scss";
@import "Basket/Basket.scss";
@import "Basket/HiddenBasketAddDisplay.scss";
@import "Footer/EmailSuccess.scss";
@import "Footer/Footer.scss";
@import "Footer/CopyrightFooter.scss";
@import "Footer/AlertEmail.scss";
@import "MainDisplay/BodyShoe.scss";
@import "MainDisplay/MainDisplay.scss";
@import "MainDisplay/BodySidebar.scss";
@import "MainDisplay/BodyInformation.scss";
@import "Nav/MainNav.scss";
@import "Nav/SearchBar.scss";
@import "Partials/pagination.scss";
@import "Partials/HamburgerMenu.scss";
@import "Partials/warning.scss";
@import "Partials/CssTransitionsDefault.scss";
@import "Partials/BodyButton.scss";
@import "SingleShoe/SizeGuideModal.scss";
@import "SingleShoe/SingleShoePage.scss";





*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    max-width: 90rem;
    margin: auto;
    display: flex;
    align-items: center;
    
    
    #app{
        margin: auto;
    }
}





