.account {
    @media all and (max-width: 850px){
        flex-wrap: wrap;
        }
    display: flex;
    justify-content: center;
}
.account__login{
    @media all and (max-width: 850px){
        height: 25rem;
        width: 25rem;

        }
        @media all and (max-width: 500px){
            width: 18rem;
            }
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 38rem;
   width: 30rem;
   margin-top: 2rem;
  
   h2{
       margin-bottom: 2rem;
       font-weight: 700;
       font-size: 2rem;
   }
   &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    .forgotten-password{
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1.5rem;
        height: 13rem;
        width: 22.5rem;
       /*  display: none; */
       transition: 1s ease;
        p{
            font-size: 0.9rem;
            margin-top: 0.3rem;
        }
        .reset-pass-form{
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;
            align-items: center;
            
            p{
                font-size: 1.2rem;
                display: block;
                justify-self: flex-start;
            }
            .repas{
                margin-top: 2rem;
                font-size: 1rem;
                background-color: #000;
                color: #fff;
                height: 2.5rem ;
                width: 10rem ;

                padding: 0 1rem;
                &:hover{
                    background-color: rgb(27, 26, 26);
                    cursor: pointer;
                }
            }
        }
    }
    &-remember{
        display: flex;
        width: 100%;
        height: 3.5rem;
        align-items: center;
        justify-content: space-between;
       
        div{
            .checkbox-remember{
                margin: 0;
                width: 1rem;
                display: flex;
                flex-direction: column-reverse;
            }
           
           p{
               margin-left: -4rem;
           }
        }
        a{
            color: rgb(211, 32, 32);
            align-self: flex-end;
        }
    }
    label{
        margin: 1rem 0 0.4rem 0;
        font-size: 1.5rem;
    }
    input{
        height: 2rem;
        width: 20rem;
    }
    .btn-dark-login{
        margin-top: 2rem;
        font-size: 1.5rem;
        background-color: #000;
        color: #fff;
        height: 2.5rem ;
        
       
        &:hover{
            background-color: rgb(27, 26, 26);
            cursor: pointer;
        }
    }
   }
   .hidden{
       display: none;
    }
}