.basket__title {
    text-align: center;
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;
    padding: 3rem;
}

.basket__container {
    width: 65%;

    @media screen and (max-width:860px) {
        width:100%;
        margin: 0 2rem 0 2rem;
    }
}

.cartitem{
    display: flex;
    justify-content: space-between;
    padding: 1em;

    &__info {
        display: flex;
        
    }
        
    .shoeimage {
        max-width: 150px;
        // height: 100px;
    }

    &__delete {
        display:flex;
        justify-content: flex-end;

        &>input{
            height: 30%;
            width: 50px;
        }
    }
}

.shoeinfo {
    padding: 1em;

    &__brand{
        margin-bottom: 0.5em;
    }

    &__name{
        margin-bottom: 0.5em;
    }

    &__price{
        margin-bottom: 0.5em;
    }

    &__buttons {
        
        .quantity{
            margin-bottom: 0.5em;
        }
    }
    
    
}
.basket__payment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 860px){
        align-items: center;
    }

    .totals {
        width: 20rem;
    
        &__sub {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            &:nth-of-type(1) {
                padding-top: 1rem;
                border-top: .02rem solid black;
            }
        }

        &__btn {
            background-color: #00DC55;
            height: 2.8rem;
            width: 20rem;
            border: none;
            border-radius: 0.2rem;
            font-weight: 700;
            font-size: 1rem;
            margin: 2rem 0;
        }
    }
}

.basket__btn {
    background-color: #00DC55;
    height: 2.8rem;
    width: 20rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 2rem 0;
}
