@import "Variables";

.bodyInformation {
    font-size: 1rem;
   
    p {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        @media all and (max-width: 736px) { 
            font-size: 0.9rem;
            width: 75%;
            margin: auto;
            
         }
        @media all and (max-width: 480px) { 
            font-size: 0.8rem;
            width: 60%;
            margin: auto;
         }
    }
    &__global {
        color: $primary_color;
        font-size: x-large;
        font-weight: bold;
    
    }
    &__underline {
        text-decoration: underline $primary_color;
    
    }
}

.topRoutes {
    text-decoration: none;
    color: black;
    
}

.topRoute__container {
    margin: 2rem 0 0 1rem;
}