.shoe__container {
    width: 24%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 32rem;
    &__top{
        display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
   flex: 2;
         a{
        width: 100%;
        margin-bottom: 0.5rem;
        text-decoration: none;
            .shoe_image{
                width: 100%;
                
                border: 1px solid rgb(211, 208, 208);
                border-bottom: none;
            }
            .quickbuy{
                background-color: #fff;
                color: #000;
                padding: 0.8rem 4rem;
                text-align: center;
                border: 1px solid rgb(211, 208, 208);
                
                &:hover{
                    background-color:#000 ;
                    color: #fff;
                }
                
            }
    }
    }
   
    &__bottom{
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        justify-content: flex-start;
        flex: 1;
        .shoe__brand{
            height: 1rem;
            margin: 0 0 1rem  0;
            text-transform: capitalize;
        }
        .shoe__title{
            font-weight: 500;
            margin-bottom: 0.2rem;
            font-family: 'Inconsolata' monospace ;
        }
        .shoe__price{
            font-weight: 500;
            font-size: 0.8rem; 
        }
    }

   
}


