.shoe {
    &__image {
        background: url("../../resources/sass/boot-250012_640.jpg") no-repeat center center/cover;
        height: 180px;
        width: 180px;
    }

    &__container {
            width: 100%;
            padding: 20px;
    }

    &__title {
        font-size: medium;
        text-align: center;
    }

    &__price {
        font-size: small;
        text-align: center;
    }
}


