.hiddenMenu{
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 9.4rem;
    left: 0;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #f3f3f3;
    opacity: 0;
    &__list{
        border-right: 1px solid rgb(165, 162, 162);
        padding: 1rem 5rem;
        line-height: 2;
        width: 32%;
        margin-bottom: 2.5rem;
        &:last-child{
            border: none;
        }
        h2{
            color: #000;
            font-family:Arial, Helvetica, sans-serif ;
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            
            p{
                margin-left: 1rem;
                width: 35%;
                font-size: 1.2rem;
            }
        }
    }
}