.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    &__link {
        border: 1px solid grey;
        border-radius: 3px;
        text-align: center;
        align-content: center;
        margin: 0.25em;
        text-decoration: none;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-size: 1.5rem;
        &:hover{
            color: #000;
        }
        
    }
    .number{
        font-size: 2rem;
    }
  
}

