.shoeDisplay{
    width: 100%;
   h4{
    margin: 2rem 0 0 1rem;
   }
    &__actual{
        display: flex;
        align-items: center;
        margin: 5rem 0;
        height: 100%;
        &__info{
            height: 40rem;
            &-collect{
               h2{
                   margin-bottom: 0.3rem;
               }
               p{
                   font-size: 0.9rem;
                   margin-bottom: 1rem;
               }
               &-text{
                  display: flex;
                  justify-content: space-between;
                  .collect-btn{
                      color: #fff;
                      margin-right: 1rem;
                      background-color: #000;
                      width: 12rem ;
                      height: 3rem;
                      font-weight: 600;
                      font-size: 1.1rem;
                      font-family: 'Times New Roman', Times, serif;
                      cursor: pointer;
                  }
                  div{
                      width: 15rem;
                      p{
                          font-size: 1rem;
                          font-family: 'Times New Roman', Times, serif;
                          font-weight: 700;
                      }
                  }
               }
            }
            width: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start ;

            &-top{

                h2{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 2.5rem;
                    margin-bottom: 0.5rem;
                   
                }
                h3{
                    font-family: 'Work Sans', sans-serif;
                    margin-bottom: 0.5rem;
                }
                p{
                    color: #000;
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                }
                a{
                    color: #333;
                    margin-bottom: 1rem;
                    &:hover{
                        text-decoration: none;
                    }
                }
                .leavereview{
                    text-decoration: none;
                    p{
                    margin-top: 0.4rem;
                    color: #222;
                    font-weight: 300;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &-star{
                    color:$primary-color;
                    margin-top: 0.5rem;
                    a{
                        margin-left: 0.5rem;
                      
                    }
                }
            }
        }
        &__pic{
            height: 40rem;
            display: flex;
            align-items: flex-start;
           margin-right: 3rem;
            &-smallpic{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                a{
                    img{
                        width: 5rem;
                        height: 5rem;
                        margin: 0.3rem;
                        margin-left: 1rem;
                    }
                }
        }
        &-largepic{
            a{
                img{
                    width: 35rem;
                    height: 29rem;
                    margin: 0.4rem 1rem 1rem 3rem;

                }
            }
        }
       
     }
     &__info-size{
      
         &-selection{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2rem;
            &-select{
                .select-css {
                    font-size: 16px;
                    font-family: sans-serif;
                    font-weight: 700;
                    color: #444;
                    line-height: 1.3;
                    padding: .6em 1.4em .5em .8em;
                    width: 20rem;
                    max-width: 100%;
                    box-sizing: border-box;
                    margin: 0;
                    border: 1px solid #aaa;
                    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                    border-radius: .5em;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
                    background-repeat: no-repeat, repeat;
                    background-position: right .7em top 50%, 0 0;
                    background-size: .65em auto, 100%;
                    margin-right: 2rem;
                    height: 2.8rem;
                    margin-bottom: 2rem;
                  
                }
                .select-css::-ms-expand {
                    display: none;
                }
                .select-css:hover {
                    border-color: #888;
                }
                .select-css:focus {
                    border-color: #aaa;
                    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
                    box-shadow: 0 0 0 3px -moz-mac-focusring;
                    color: #222;
                    outline: none;
                }
                .select-css option {
                    font-weight:normal;
                }
               
                a{
                    color: #555;
                    &:hover{
                        text-decoration: none;
                    }
                }
              
            }
            p{  
                .bold-text{
                    font-weight: 700;
                }
                margin-bottom: 1rem;
                line-height: 1.5;
                a{
                    color: #555;
                }
            }
            .add_to_basket_btn{
                background-color: $primary-color;
                height: 2.8rem;
                width: 20rem; 
                border: none;
                border-radius: 0.2rem;
                font-weight: 700;
                font-size: 1rem;
            }
         }
     }
    
 }
}