
.thirdNav{
    display: flex;
    @media all and (max-width: 480px) { flex-direction: column; }
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px #777 solid;

    
    &__center{
        border-right: 1px #777 solid;
        border-left: 1px #777 solid;
        @media all and (max-width: 480px) { border: none; }
       }
    div{
        width: 32%;
        height: 3.5rem;
        
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
        a{
            text-decoration: none;
            color: #777;
            &:hover{
                color: #333;
                text-decoration: underline;
            }
        }
    }
    }
}