.topNav{
    background-color:$secondary_color ;
    display: flex;
    align-items: center;
    height: 2rem;
    justify-content: flex-end;
    overflow: hidden;
    font-family: $primary_font;
    width: 100vw;
    
    @media all and (max-width: 900px ){
        justify-content: center;
   }

    &__help{
        @media all and (max-width: 900px ){
                 display: none;
            }
        @media all and (max-width: 980px){
                 font-size: 0.8rem;
            }
            list-style: none;
            background-color: black;
            padding: 0.5rem 1.5rem;
            justify-self: center;
            position: absolute;
            left: 47%;
           a{
            color: #f3f3f3;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
           }
    }
    &__menu{
        display: flex;  
        justify-self: end;
        margin-right: 3rem;
        li{
            margin-left: 0.5rem;
            list-style: none;
            &:hover{
                text-decoration: underline;
            }
            &::before{
                content: '/  ';
            }
            &.firstTopnav::before{
                content: '';
                
            }
            &.firstTopnav{

                
                &:first-child{
                    @media all and (max-width: 980px){
                    display: none;
        
                    }
                }
               
            &:hover{
                text-decoration: none;
            }}
            a{
                text-decoration: none;
                color: #333;
                font-size: 0.8rem;
                @media all and (max-width: 500px){
                    font-size: 0.67rem;
         
                     }
            }
        }
    }
}
