.userWelcomeBackScreen{
  
    width: 100%;
    height: 70vh;
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: $primary-color;
    }
    h2{
        font-size: 4rem;
    }
    i{
        margin-top: 10rem;
    }
}