@import "button";
@import "MainNav";
@import "search";
@import "searchList";
@import "shoe";
@import "shoeList";
@import "Topnav";
@import "HiddenMenu";
@import "HiddenMenuSearch";
@import "Variables";
@import "ThirdNav";
@import "Footer";
@import "CopyrightFooter";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: auto;
}

.buttons {
    display: flex;
    margin-left: 50px;

}

.shoes {
    width: 100%;
    display: flex;
    margin-left: 50px;
}

