@import "_Variables.scss";
@import "_button.scss";
@import "_MainNav.scss";
@import "_search.scss";
@import "_searchList.scss";
@import "_shoe.scss";
@import "_shoeList.scss";
@import "_Topnav.scss";
@import "_HiddenMenu.scss";
@import "_HiddenMenuSearch.scss";
@import "_ThirdNav.scss";
@import "_Footer.scss";
@import "_CopyrightFooter.scss";
@import "_SingleShoePage.scss";
@import "_pagination.scss";
@import "_AccountLogin.scss";
@import "_AccountRegisterRelay.scss";
@import "_AccountRegister.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    max-width: 90rem;
    margin: auto;
    
    
}

.buttons {
    display: flex;
    margin-left: 50px;

}

.shoes {
    width: 100%;
    display: flex;
    margin-left: 50px;
}

