@import "_Variables.scss";
@import "_BodyButton.scss";
@import "_MainNav.scss";
@import "_BodyInformation.scss";
@import "_BodyShoe.scss";
@import "_Topnav.scss";
@import "_HiddenMenu.scss";
@import "_HiddenMenuSearch.scss";
@import "_ThirdNav.scss";
@import "_Footer.scss";
@import "_CopyrightFooter.scss";
@import "_SingleShoePage.scss";
@import "_pagination.scss";
@import "_AccountLogin.scss";
@import "_AccountRegisterRelay.scss";
@import "_AccountRegister.scss";
@import "_MainDisplay.scss";
@import "_UserWelcomeBackScreen.scss";
@import "_HiddenBasketAddDisplay.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    max-width: 90rem;
    margin: auto;
    display: flex;
    align-items: center;
    
    
    #app{
        margin: auto;
    }
}





