@import "Variables";
@import "MainNav";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: auto;
}
.topNav{
    background-color:$secondary_color ;
    display: flex;
    align-items: center;
    height: 2rem;
    justify-content: flex-end;
    overflow: hidden;
    font-family: $primary_font;
    &__help{
            list-style: none;
            background-color: black;
            padding: 0.5rem 1.5rem;
            justify-self: center;
            position: absolute;
            left: 47%;
           a{
            color: #f3f3f3;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
           }
    }
    &__menu{
        display: flex;  
        justify-self: end;
        margin-right: 3rem;
        li{
            margin-left: 0.5rem;
            list-style: none;
            &:hover{
                text-decoration: underline;
            }
            &::before{
                content: '/';
            }
            &.firstTopnav::before{
                content: '';
                
            }
            &.firstTopnav{
            &:hover{
                text-decoration: none;
            }}
            a{
                text-decoration: none;
                color: #333;
                font-size: 0.8rem;
            }
        }
    }
}
