@import "Variables";
.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    
   a{ 
       display: flex;
       align-items: center;
       text-decoration: none;
       
    h1 {
        
        color: $primary_color;
        font-size: 2.4rem;
        margin: auto;
    }}
   
    &__list{
       display: flex; 
       align-items: center;
       list-style: none;
       justify-content: space-evenly;
       width: 35%;
       &__icons{
        
            a{
                 color: #000;
                 i{
                     margin-left: 0.5rem;
                     font-size: 1.5rem;
                 }

            } 
         padding: 1rem;
        
       }
       &__item{
           margin-left: 1rem;
           font-size: 1.6rem;
           margin-left: -2rem;
           padding: 2.8rem 2rem;
           &:hover {
               color: $primary_color;
               border-bottom: 0.5rem solid $primary_color;
           }
           &:hover > a{
             color: $primary_color;
              transition: 0.5s ease-in-out;
             }
             &:hover .hiddenMenu{
            visibility: visible;
            transition: 0.7s ease-in-out;
            opacity: 1;
            color: #666;
             }
           a{
               text-decoration: none;
               color: #000;
               &:hover{
                   color: $primary_color;
                   transition: 0.5s ease-in;
               }
           }
       }
    }
}