.hiddenMenusearch {
    width: 98%;
    position: absolute;
    top: 9.3rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    height: 7rem;
    border-radius: 0.5rem;
    opacity: 1;

    a {
        color: inherit;
    }

    input {
        height: 2rem;
        display: flex;
         width: 28%;
        border: none;
        background-color: #f3f3f3;
        margin: 0 1rem;
        font-size: 1.2rem;
        outline: none;
        color: #333;

        &::placeholder {
            font-size: 1.2rem;
        }       
    }

    .hiddensearchicons{
        cursor: pointer;
    }
}
